/* BARRA DE NAVEGACIÓN */

#activar,
.checkbox__boton {
    display: none;
}

.cabecera {
    position: fixed;
}

.cabecera__opciones {
    text-align: center;
}

.cabecera__opciones--sub>li>a {
    color: rgba(255, 255, 255, 0.664);
    transition: all 0.5s;
}

.cabecera__opciones--sub>li>a:hover {
    color: white;
    transition: all 0.5s;
}

.oscurecedor {
    position: fixed;
    top: 0px;
    z-index: 1;
    height: 150px;
    width: 100%;
    pointer-events: none;
    background: linear-gradient(0, rgba(0, 0, 0, 0) 0, #000000 100%);
}


/* El movil */

@media (max-width: 768px) {
    .nuevo {
        background-color: rgb(154, 29, 196);
        position: relative;
        font-size: small;
        top: -87px;
        right: -220px;
        border-radius: 50px;
        padding: 5px;
        width: 10%;
        pointer-events: none;
    }
    .cabecera {
        width: 100%;
        height: 45.5px;
        top: 0px;
        padding: 10px 0px;
        overflow: hidden;
        text-align: center;
        transition: all 0.5s;
        z-index: 10;
    }
    #activar:checked~.cabecera {
        height: 100%;
        background-color: #00000060;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
    @-moz-document url-prefix() {
        #activar:checked~.cabecera {
            background-color: black;
        }
    }
    #activar:checked~.volverArriba {
        display: none;
        transition: all 0.5s;
    }
    .checkbox__boton {
        float: left;
        width: 50px;
        height: 50px;
        font-size: 40px;
        position: relative;
        left: 10px;
        display: block;
        position: fixed;
        z-index: 20;
        top: 8px;
        text-align: center;
        transition: all 0.3s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #activar:checked~.checkbox__boton {
        transform: rotate(90deg);
        transition: all 0.3s;
    }
    #activar:checked~div>.cabecera__opciones--sub {
        display: none;
    }
    .cabecera__logo {
        width: 280px;
        position: relative;
        top: -7px;
        display: inline;
    }
    .cabecera__opciones {
        position: relative;
        top: -10px;
        margin-top: 10%;
    }
    .cabecera__opciones>li {
        width: 90%;
        margin: 5%;
        font-size: 30px;
        font-weight: bolder;
        text-align: left;
        border-bottom: 1px solid rgba(255, 255, 255, 0.39);
        transition: all 0.5s ease-out;
    }
    .cabecera__opciones>li:hover {
        width: 80%;
        transition: all 0.5s ease-out;
    }
    .cabecera__opciones>li>a {
        width: 100%;
        display: block;
        padding-top: 10px;
        padding-bottom: 12px;
        transition: all 0.5s ease-out;
    }
    .cabecera__opciones>li>a:hover {
        font-size: larger;
        transition: all 0.5s ease-out;
    }
    .cabecera__separador {
        display: none;
    }
    .cabecera__opciones--sub {
        font-size: 2.74vw;
        width: 100vw;
        position: fixed;
        top: 65px;
        margin-right: 10px;
    }
    .cabecera__opciones--sub>li {
        color: rgba(255, 255, 255, 0.685);
        float: left;
        padding: 2%;
    }
    .oscurecedor {
        z-index: 1;
    }
}

.cabecera {
    width: 100%;
    height: 85px;
    overflow: hidden;
}


/* El grande */

@media (min-width: 768px) {
    .nuevo {
        background-color: rgb(154, 29, 196);
        position: absolute;
        font-size: small;
        top: 6px;
        right: 2.5vw;
        border-radius: 50px;
        padding: 3px;
        pointer-events: none;
    }
    .cabecera {
        z-index: 10;
        overflow: visible;
    }
    .cabecera__logo {
        width: 300px;
        margin-top: 5px;
    }
    .cabecera__opciones {
        float: right;
        margin-top: 13px;
        margin-right: 3%;
        width: 55%;
        border-radius: 50px;
        white-space: nowrap;
        transition: all 0.5s ease-out;
    }
    .cabecera__opciones:hover {
        background-color: rgba(255, 255, 255, 0.192);
        transition: all 0.5s ease-out;
    }
    .cabecera__opciones>li {
        display: inline-block;
        margin-right: -4px;
        width: 16.667%;
        font-size: larger;
    }
    .cabecera__opciones>li>a {
        color: rgba(255, 255, 255, 0.664);
        display: block;
        padding-top: 10px;
        padding-bottom: 8px;
        padding-left: 1px;
        padding-right: 1px;
        background: none;
        transition: all 0.5s ease-out;
    }
    .cabecera__opciones>li>a:hover {
        background-color: rgba(255, 255, 255, 0.116);
        color: white;
        border-radius: 50px;
        transition: all 0.5s ease-out;
    }
    #participa {
        width: 96%;
    }
    .cabecera__separador {
        display: none;
        /* ESTO ES PROVISIONAL, SI LA QUITO LO BORRO TODO */
        margin: 0px;
        transition: all 0.5s ease-out;
        background-color: rgba(88, 88, 88, 0.479);
    }
    .cabecera__opciones:hover~.cabecera__separador {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.5s ease-out;
    }
    .cabecera__opciones--sub {
        text-align: center;
        margin-top: -4px;
    }
    .cabecera__opciones--sub>li {
        color: rgba(255, 255, 255, 0.664);
        display: inline;
        padding: 0% 2%;
        animation-duration: 0s;
        animation-name: blink;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @keyframes blink {
        from {
            opacity: 1;
        }
        to {
            opacity: 0.5;
        }
    }
}