body {
    background-image: url(../imgs/backgroundPlanetas.jpg);
}

.planetas__descripcionA>p,
.planetas__descripcionB>p {
    text-align: justify;
}


/* El grande */

@media (min-width: 768px) {
    .planetas {
        position: fixed;
        top: 172px;
        height: 83%;
        overflow: scroll;
        scroll-behavior: smooth;
    }
    .separador {
        position: fixed;
        top: 172px;
        z-index: 1;
        height: 200px;
        width: 100%;
        pointer-events: none;
        background: linear-gradient(0, rgba(0, 0, 0, 0) 0, #000000 100%);
    }
    #bottom {
        top: auto;
        bottom: 0px;
        background: linear-gradient(0, rgb(0, 0, 0) 0, #00000000 100%);
    }
    .planetas__planeta {
        position: relative;
        height: 840px;
    }
    .planetas__planeta--imagenA {
        display: inline-block;
        width: 900px;
        position: relative;
        left: -81.5%;
        padding-left: 150vw;
    }
    .planetas__descripcionA {
        position: relative;
        width: 20%;
        top: -700px;
        margin-left: 45vw;
        animation-duration: 3s;
        animation-name: aparece;
    }
    @keyframes aparece {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .planetas__planeta--imagenB {
        width: 900px;
        display: block;
        margin-left: 60vw;
    }
    .planetas__descripcionB {
        position: relative;
        width: 20%;
        top: -700px;
        margin-left: 8vw;
    }
    #saturno {
        overflow: visible;
    }
    #saturno>img {
        width: 1100px;
    }
    #neptuno>div {
        top: -530px;
    }
    .volverArriba {
        position: relative;
        bottom: 130px;
        z-index: 1;
    }
}


/* El movil */

@media (max-width: 767px) {
    .separador {
        height: 100px;
    }
    .planetas {
        display: block;
        text-align: center;
    }
    .planetas__planeta {
        padding: 5%;
        font-size: larger;
        text-align: center;
    }
    .planetas__planeta--imagenA,
    .planetas__planeta--imagenB {
        width: 300px;
    }
    .volverArriba {
        margin-bottom: 50px;
    }
    #saturno>img {
        width: 500px;
        margin-top: -100px;
        margin-bottom: -100px;
    }
}