.planetas__descripcionA>p,
.planetas__descripcionB>p {
    text-align: justify;
}


/* El grande */

@media (min-width: 768px) {
    body {
        background-image: url(../imgs/fondos/backgroundPlanetas.jpg);
    }
    .planetas {
        position: fixed;
        top: 0px;
        height: 100vh;
        overflow: scroll;
    }
    .planetas__planeta {
        position: relative;
        height: 900px;
    }
    .planetas__planeta--imagenA {
        display: inline-block;
        width: 900px;
        position: relative;
        left: -81.5%;
        padding-left: 150vw;
    }
    .planetas__descripcionA {
        position: relative;
        width: 20%;
        top: -700px;
        margin-left: 45vw;
        animation-duration: 3s;
        animation-name: aparece;
    }
    @keyframes aparece {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .planetas__planeta--imagenB {
        width: 900px;
        display: block;
        margin-left: 60vw;
    }
    .planetas__descripcionB {
        position: relative;
        width: 20%;
        top: -700px;
        margin-left: 8vw;
    }
    #mercurio {
        padding-top: 10vh;
    }
    #saturno {
        overflow: visible;
    }
    #saturno>img {
        width: 1000px;
        margin-left: 40vw;
    }
}


/* El Movil */

@media (max-width: 767px) {
    p {
        padding: 5% 8% 5% 8%;
        background-color: rgba(27, 27, 27, 0.479);
        text-align: justify;
    }
    h1 {
        font-size: 20vw;
        text-align: center;
    }
    h3 {
        margin-left: 1.5%;
        text-align: center;
    }
    hr {
        display: none;
    }
    .planetas__planeta--imagenA,
    .planetas__planeta--imagenB {
        width: 100%;
    }
    .planetas__descripcionA,
    .planetas__descripcionB {
        padding: 5%;
        font-size: larger;
        margin-top: -300px;
    }
    #mercurio {
        margin-top: 100px;
    }
}