/* INDEX */

body {
    background-image: url(../imgs/fondos/background.jpg);
}

img {
    width: 100%;
}

.noticiario__noticia {
    background-color: rgba(32, 32, 32, 0.486);
}

.noticia__leerMas--checkBox {
    display: none;
}

label {
    cursor: pointer;
}

p {
    padding-top: 10px;
    display: none;
}

.subtituloFoto {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.664);
}

input[value="noticia1"]:checked~#noticia1>.pe,
input[value="noticia2"]:checked~#noticia2>.pe,
input[value="noticia3"]:checked~#noticia3>.pe,
input[value="noticia4"]:checked~#noticia4>.pe,
input[value="noticia5"]:checked~#noticia5>.pe,
input[value="noticia6"]:checked~#noticia6>.pe,
input[value="noticia7"]:checked~#noticia7>.pe,
input[value="noticia8"]:checked~#noticia8>.pe,
input[value="noticia9"]:checked~#noticia9>.pe,
input[value="noticia10"]:checked~#noticia10>.pe,
input[value="noticia11"]:checked~#noticia11>.pe,
input[value="noticia12"]:checked~#noticia12>.pe,
input[value="noticia13"]:checked~#noticia13>.pe,
input[value="noticia14"]:checked~#noticia14>.pe,
input[value="noticia15"]:checked~#noticia15>.pe,
input[value="noticia16"]:checked~#noticia16>.pe {
    display: inline;
}


/* El movil */

@media (max-width: 768px) {
    .noticiario {
        background-image: url(../imgs/fondos/background.jpg);
        padding-top: 100px;
    }
    .noticiario__noticia {
        margin: 2%;
        padding: 2.5vh;
        border-radius: 15px;
        border-bottom: 5vw solid rgba(255, 255, 255, 0);
        transition: all 0.5s;
        text-align: justify;
    }
    .noticiario__noticia:hover {
        background-color: rgba(255, 255, 255, 0.116);
    }
    .noticiario__noticia>label {
        z-index: 10;
    }
    .noticiario__noticia--contenido>h1 {
        text-align: left;
    }
    .noticiario__noticia--contenido {
        pointer-events: none;
    }
    .cabecera__opciones--sub>li {
        width: 97%;
        text-align: center;
    }
    #arribaIndex {
        position: relative;
        top: -1000px;
    }
}


/* El grande */

@media (min-width: 768px) {
    .noticiario {
        text-align: center;
        height: 100%;
        min-height: 1000px;
        width: 34%;
        padding-top: 15vh;
        background: linear-gradient(to right, black, rgba(0, 0, 0, 0.315));
        box-shadow: 0 0 1.5em #000000a1;
        -webkit-box-shadow: 0 0 1.5em #000000a1;
        -moz-box-shadow: 0 0 1.5em #000000a1;
    }
    .noticiario__noticia {
        padding: 29px;
        margin-left: 15px;
        text-align: left;
        border-radius: 15px;
        overflow: hidden;
        transition: all 0.3s;
        cursor: pointer;
        background: none;
        border-bottom: 15px solid rgba(0, 0, 0, 0);
    }
    .noticiario__noticia>label>span>.pe {
        display: none;
    }
    .noticiario__noticia:hover {
        background-color: rgba(26, 26, 26, 0.767);
    }
    .noticiario__cajaFloat {
        padding: 1%;
        text-align: center;
    }
    .noticia__leerMas {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    .noticia__leerMas--checkBox:checked~.noticiario__noticia:hover {
        padding: 0px;
        margin: 0px;
    }
    input[value="noticia1"]:checked~#noticia1,
    input[value="noticia2"]:checked~#noticia2,
    input[value="noticia3"]:checked~#noticia3,
    input[value="noticia4"]:checked~#noticia4,
    input[value="noticia5"]:checked~#noticia5,
    input[value="noticia6"]:checked~#noticia6,
    input[value="noticia7"]:checked~#noticia7,
    input[value="noticia8"]:checked~#noticia8,
    input[value="noticia9"]:checked~#noticia9,
    input[value="noticia10"]:checked~#noticia10,
    input[value="noticia11"]:checked~#noticia11,
    input[value="noticia12"]:checked~#noticia12,
    input[value="noticia13"]:checked~#noticia13,
    input[value="noticia14"]:checked~#noticia14,
    input[value="noticia15"]:checked~#noticia15,
    input[value="noticia16"]:checked~#noticia16 {
        background-color: rgba(0, 0, 0, 0.404);
        cursor: auto;
        display: inline-block;
        text-align: justify;
        position: fixed;
        bottom: 30px;
        margin-bottom: 0px;
        height: 79vh;
        right: 0px;
        width: 55.5%;
        padding: 0px;
        padding-left: 5%;
        padding-right: 5%;
        overflow: scroll;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.5s;
        z-index: 10;
        box-shadow: 0 0 1.5em #000000a1;
        -webkit-box-shadow: 0 0 1.5em #000000a1;
        -moz-box-shadow: 0 0 1.5em #000000a1;
    }
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    #volverIndex {
        position: fixed;
        text-align: left;
        margin-left: 12.5vw;
        z-index: 11;
    }
    #volverIndex>a {
        background-color: black;
        color: white;
        border: 1px solid gray;
        z-index: 11;
    }
    #volverIndex>a:hover {
        background-color: white;
        color: black;
        border-color: rgba(245, 222, 179, 0);
    }
    #subNoticias>li {
        animation-duration: 1.5s;
    }
}