/* General */

.galaxia>.galaxia__texto>hr {
    width: 100%;
    border: none;
    border-radius: 15px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.397);
}

#subGalaxias>li {
    animation-duration: 0s;
}


/* El movil */

@media (max-width: 767px) {
    p {
        padding: 5%;
        background-color: rgba(27, 27, 27, 0.479);
        text-align: justify;
    }
    .galaxia {
        width: auto;
        margin-bottom: -55px;
    }
    .galaxia__texto {
        top: 100px;
        margin-bottom: 50px;
    }
    .galaxia__texto>p {
        font-size: larger;
        background: none;
    }
    .galaxia__texto>header {
        top: 21vw;
        padding: 2%;
        padding-top: 50px;
        text-align: left;
    }
    #uno {
        margin-top: 100px;
    }
    .volverArriba {
        padding-bottom: 5%;
        padding-top: 5%;
    }
    #subGalaxias {
        padding-left: 7.5%;
    }
}


/* El grande */

@media (min-width: 768px) {
    #uno,
    #dos,
    #tres,
    #cuatro {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #uno {
        background-image: url(../imgs/galaxias/milkyWay.jpeg);
    }
    #dos {
        background-image: url(../imgs/galaxias/canisMayor.jpeg);
    }
    #tres {
        background-image: url(../imgs/galaxias/enanaSagitario.jpeg);
    }
    #cuatro {
        background-image: url(../imgs/galaxias/magallanes.jpeg);
    }
    p {
        padding: 7%;
        margin: 2.4vw;
        border-radius: 50px;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        background-color: rgba(0, 0, 0, 0.192);
        text-align: justify;
    }
    .galaxia {
        top: 0px;
        width: 100%;
        font-size: larger;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .galaxia__selector>ul {
        display: inline;
        text-align: center;
    }
    .galaxia__selector>ul>li {
        display: inline;
        background: none;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    .galaxia__texto {
        top: 170px;
        bottom: 1px;
        padding: 50px;
        overflow: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .galaxia__texto--header {
        padding: 1em;
        margin-bottom: 3.7vh;
    }
    .separador {
        height: 76vh;
    }
}