/* INDEX */

.noticiario__noticia {
    background-color: rgba(32, 32, 32, 0.486);
}

.noticia__leerMas--checkBox {
    display: none;
}

label {
    cursor: pointer;
}


/* El movil */

@media (max-width: 767px) {
    hr {
        height: 2px;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.39);
    }
    /* Noticias */
    .noticiario {
        margin-top: 80px;
    }
    .noticiario__noticia {
        margin: 2%;
        padding: 5%;
        border-radius: 15px;
        height: 92.1px;
        overflow: hidden;
        border-bottom: 5vw solid rgba(255, 255, 255, 0);
        transition: all 0.5s;
    }
    .noticiario__noticia:hover {
        background-color: rgba(255, 255, 255, 0.116);
        margin: 1%;
        padding: 6%;
    }
    .noticiario__cajaFloat {
        border: 1px solid rgba(255, 0, 0, 0);
    }
    .noticia__leerMas--checkBox:checked~.noticiario__noticia {
        height: auto;
    }
}


/* El grande */

@media (min-width: 768px) {
    label>p {
        overflow: hidden;
        max-height: 143px;
    }
    .noticiario {
        position: fixed;
        text-align: center;
        width: 100%;
        margin-top: 20px;
        padding-top: 20px;
        top: 155px;
        height: 100%;
        overflow: auto;
    }
    .noticiario__noticia {
        height: 77%;
        padding: 7%;
        text-align: left;
        display: inline-block;
        border-radius: 15px;
        overflow: hidden;
        transition: all 0.3s;
        cursor: pointer;
        border-bottom: 25px solid rgba(255, 255, 255, 0);
    }
    .noticiario__noticia:hover {
        background-color: rgba(26, 26, 26, 0.767);
        padding: 9%;
        margin: -2%;
    }
    .noticiario__cajaFloat {
        width: 260px;
        height: 258.7px;
        padding: 1%;
        display: inline-block;
        text-align: center;
    }
    .noticia__leerMas {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    .noticia__leerMas--checkBox:checked~.noticiario__noticia {
        display: inline-block;
        margin: 1%;
        padding: 5%;
        height: 100%;
        position: fixed;
        top: 123px;
        left: 0%;
        background-image: url("../imgs/backgroundNoticia.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: scroll;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.8s;
    }
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .noticia__leerMas--checkBox:checked~.noticiario__noticia>label>p {
        max-height: none;
    }
    .noticia__leerMas--checkBox:checked~.noticiario__noticia:hover {
        padding: 5%;
    }
    .noticiario__espacioInferior {
        width: 100%;
        height: 260px;
    }
}