/* General */

.galaxia>.galaxia__texto>hr {
    width: 100%;
    border: none;
    border-radius: 15px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.397);
}

#subGalaxias>li {
    animation-duration: 0s;
}


/* El movil */

@media (max-width: 767px) {
    p {
        padding: 5%;
        background-color: rgba(27, 27, 27, 0.479);
        text-align: justify;
    }
    hr {
        display: none;
    }
    h1 {
        font-size: 20vw;
    }
    h3 {
        margin-left: 60%;
        padding-bottom: 20px
    }
    .galaxia__texto--header {
        padding: 300px 5% 0px 5%;
    }
    #header1 {
        background: url(../imgs/galaxias/milkyWay.jpeg);
        background-size: cover;
    }
    #header2 {
        background: url(../imgs/galaxias/canisMayor.jpeg);
        background-size: cover;
    }
    #header3 {
        background: url(../imgs/galaxias/enanaSagitario.jpeg);
        background-size: cover;
    }
    #header4 {
        background: url(../imgs/galaxias/magallanes.jpeg);
        background-size: cover;
    }
    #header4>h1 {
        font-size: 15vw;
    }
    #header4>h3 {
        top: -220px;
    }
    .galaxia {
        width: auto;
        margin-bottom: -55px;
    }
    .galaxia__texto {
        top: 100px;
        margin-bottom: 50px;
    }
    .galaxia__texto>p {
        font-size: larger;
        background: none;
    }
    .galaxia__texto>header {
        top: 21vw;
        text-align: left;
    }
    #subGalaxias {
        padding-left: 7.5%;
    }
}


/* El grande */

@media (min-width: 768px) {
    #uno,
    #dos,
    #tres,
    #cuatro {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #uno {
        background-image: url(../imgs/galaxias/milkyWay.jpeg);
    }
    #dos {
        background-image: url(../imgs/galaxias/canisMayor.jpeg);
    }
    #tres {
        background-image: url(../imgs/galaxias/enanaSagitario.jpeg);
    }
    #cuatro {
        background-image: url(../imgs/galaxias/magallanes.jpeg);
    }
    p {
        position: relative;
        top: -57px;
        padding: 7%;
        margin: 2.4vw;
        background-color: rgba(0, 0, 0, 0.336);
        text-align: justify;
        box-shadow: 0 0 1.5em #000000a1;
        -webkit-box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.336);
        -moz-box-shadow: 0 0 1.5em #000000a1;
    }
    .galaxia {
        top: 0px;
        width: 100%;
        font-size: larger;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .galaxia__selector>ul {
        display: inline;
        text-align: center;
    }
    .galaxia__selector>ul>li {
        display: inline;
        background: none;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    .galaxia__texto {
        top: 170px;
        bottom: 1px;
        padding: 50px;
        overflow: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .galaxia__texto--header {
        padding: 1em;
        margin-bottom: 3.7vh;
    }
    .separador {
        height: 76vh;
    }
    #volverGalaxias {
        display: none;
    }
}