/* INDEX */

.noticiario__noticia {
    background-color: rgba(255, 255, 255, 0.068);
}

.noticia__leerMas--checkBox {
    display: none;
}

label {
    cursor: pointer;
}


/* El movil */

@media (max-width: 700px) {
    hr {
        height: 2px;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.39);
    }
    /* Noticias */
    .noticiario {
        margin-top: 100px;
    }
    .noticiario__noticia {
        margin: 2%;
        padding: 2%;
        border-radius: 15px;
    }
}


/* El grande */

@media (min-width: 701px) {
    .noticiario {
        position: relative;
        text-align: center;
        width: 88%;
        padding: 5%;
        margin: auto;
        top: 200px;
        height: 600px;
        overflow: auto;
    }
    .noticiario__noticia {
        position: relative;
        text-align: left;
        border-radius: 15px;
        width: 250px;
        height: 250px;
        margin: 2%;
        padding: 3%;
        overflow: hidden;
        float: left;
        transition: all 0.5s ease-out;
        cursor: pointer;
    }
    .noticiario__noticia:hover {
        background-color: rgba(255, 255, 255, 0.116);
        padding-left: 4%;
        padding-right: 4%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .noticia__leerMas {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    p {
        height: 100%;
        overflow: hidden;
    }
    .noticia__leerMas--checkBox:checked~.noticiario__noticia {
        margin: 0;
        width: 90%;
        height: 100%;
        position: fixed;
        top: 201px;
        left: 1%;
        right: 1%;
        background-color: rgb(16, 6, 26);
        z-index: 2;
    }
}