/* ESTILOS GENERALES */

* {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: white;
    text-decoration: none;
    list-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    background-color: black;
}

h4 {
    font-weight: lighter;
    font-size: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.664);
    overflow: hidden;
}

hr {
    border: none;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.459);
    margin-top: 5px;
    margin-bottom: 10px;
}

.hacheUno {
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}

.hacheTres {
    font-size: 15px;
    padding-top: 10px;
    text-align: left;
    font-style: italic;
}

.hacheCuatro {
    font-size: 10px;
    padding-bottom: 15px;
    text-align: left;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.664);
}

.descripcion {
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    bottom: 10vh;
    height: 100px;
}

.descripcion>h1 {
    font-size: 7vh;
}

.descripcion>h1,
h3,
p {
    text-shadow: 0px 0px 10px #000000;
}

.pie {
    z-index: 10;
    background: none;
    backdrop-filter: blur(0px);
    padding: 5px;
    color: rgba(255, 255, 255, 0.568);
    font-style: italic;
    font-size: 12px;
    margin-bottom: 15px;
    text-align: center;
}

.pie__texto {
    margin-top: 10px;
    opacity: 0.5;
}

.rrss {
    width: 25px;
    opacity: 0.5;
}

.rrss:hover {
    opacity: 1;
}

.volverArriba {
    width: 100%;
    text-align: center;
}

.volverArriba>a {
    color: rgba(255, 255, 255, 0.664);
    background-color: rgba(255, 255, 255, 0.116);
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    transition: all 0.5s;
}

.volverArriba>a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.185);
    transition: all 0.5s;
}

.contenido {
    height: 100vh;
    width: 100vw;
    border: 1px solid rgba(0, 0, 0, 0);
}

#oscurecedor__abajo {
    top: auto;
    bottom: 0px;
    background: linear-gradient(0, rgb(0, 0, 0) 0, #00000000 100%);
}


/* movil */

@media (max-width: 768px) {
    body {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    h1 {
        font-size: 20vw;
    }
    p,
    .pe {
        font-size: 20px;
    }
    .volverArriba {
        position: fixed;
        bottom: 0px;
        text-align: right;
        z-index: 10;
        margin-bottom: 50px;
    }
    .volverArriba>a {
        margin-right: 5%;
        color: white;
        background-color: black;
    }
    .volverArriba>a:hover {
        background-color: white;
        color: black;
    }
    #oscurecedor__abajo {
        z-index: 0;
    }
    .descripcion {
        position: static;
    }
    .descripcion>h1 {
        font-size: 10vw;
    }
    .rrss {
        margin: 5px;
        border: 1px solid rgba(255, 0, 0, 0);
    }
}


/* grande */

@media (min-width: 768px) {
    h1 {
        font-size: 50px;
    }
    h3 {
        font-size: 20px;
        margin-left: 2px;
    }
    p,
    .pe {
        font-size: 18px;
    }
    body {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .volverArriba {
        position: relative;
        z-index: 10;
        top: 93vh;
    }
    .pie {
        position: fixed;
        bottom: -5px;
        right: 10px;
    }
    .rrss {
        display: block;
        margin-left: auto;
        padding: 5%;
    }
    .planetas__descripcionA,
    #header1,
    .descripcion {
        animation-duration: 2s;
        animation-name: aparece;
    }
    @keyframes aparece {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

@supports (-webkit-touch-callout: none) {
    #uno,
    #dos,
    #tres,
    #cuatro,
    #cinco {
        background-attachment: scroll;
    }
}